<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Danh sách phòng</title>
</head>

<body>
	<h1>Danh sách phòng</h1>
	<table>
		<thead>
			<tr>
				<th>Số phòng</th>
				<th>Loại</th>
				<th>Giá phòng</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="room:${rooms}">
				<td th:text="${room.id}" align="center"></td>
				<td th:text="${room.type}" align="center"></td>
				<td th:text="${room.price}" align="center"></td>
				<td>
					<a th:href="@{/view/details/{id}(id=${room.id})}" 
					th:text="'Chi tiết'" align="center"></a>
				</td>
				<td>
					<a th:href="@{/booking/{id}(id=${room.id})}" 
					th:text="'Đặt phòng'" align="center"></a>
				</td>
			</tr>
		</tbody>
	</table>

	<button><a th:href="@{/}" th:text="'Trang chủ'"></a></button>
</body>

</html>